.container-fluid{
    padding: 0px;
}
ul{
    list-style-type: none;
}
#hide{
    display: none
}
.col-12{
    padding: 0px;
}
img > div{
    width: 100%;
}
#menu{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
}
@media  (max-width:720px) {
    #hide{
        display: block;
    }
    #show{
        display: none;
    }
    img{
        width: 100%;
    }
    .col-12{
        padding: 0px;
    }
}